/node_modules
/public/hot
/public/storage
/public/images

/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

https://www.jqueryscript.net/chart-graph/Single-Elimation-Tournament-Bracket-Generator-Gracket.html

https://www.jqueryscript.net/tags.php?/Tournament%20Bracket/

https://gojs.net/latest/samples/tournament.html
