@font-face {
    font-family: 'IRANYekan';
    src: url('../fonts/IRANYekanWeb.ttf') format('ttf'), url('../fonts/IRANYekanWeb.woff') format('woff'), url('../fonts/BYekan-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    direction: rtl;
    font-family: IRANYekan!important;
}

* {
    direction: rtl;
    font-family: IRANYekan!important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    direction: rtl;
    font-family: IRANYekan!important;
}

.custom-control-input:checked~.custom-control-label::before {
    background: #003b36!important;
    border-color: #003b36!important;
}

.forms .form-group .btn-success {
    background: #003b36!important;
    border-color: #003b36!important;
}

.forms .form-group .btn-primary {
    background: #003b36!important;
    border-color: #003b36!important;
    outline: none;
}

.forms .form-group button:hover,
.intro-panel-btn a button:active,
.intro-panel-btn a button:focus,
.intro-panel-btn a button:visited {
    outline: none!important;
    box-shadow: none!important;
}

div.jQBracket .team div.label {
    left: 0;
    float: left;
}

div.jQBracket .tools span {
    display: none!important;
}

.help-block {
    color: red!important;
}