    .logo-lg img {
        width: 80px!important;
    }
    
    .login-form .form-group .btn-primary {
        background-color: #003b36!important;
        border-color: #003b36!important;
    }
    
    .register-form .form-group .btn-success {
        background-color: #003b36!important;
        border-color: #003b36!important;
    }
    
    .custom-control-input:checked~.custom-control-label::before {
        color: #fff;
        border-color: #003b36!important;
        background-color: #003b36!important;
    }